*{
    margin: 0px;
    padding: 10px;
    box-sizing:border-box;
}

body{
    max-width: 1200px;
    margin: auto;
}
a{
    text-decoration: none;
}
.padre{  /* div que agrupa header, section i footer*/
            /*posem un display-flex al contenidor perquè tots els seus elements siguin flexibles.  */
       
     display: flex;       
     flex-flow: column nowrap;           

}

    .header{ /*repetim el procés anterior al header per evitar que el menu i el text principal es posin un al costat de l'altre.*/
        background:url(../imagenes/header.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        margin-bottom:1px;
    }
        .menu{ /* cal posar els elements fills un al costat de l'altre. I després ajustar el tamany.*/
          background:rgba(165,170,169,0.1);  
          display: flex;
          flex-flow: nowrap;
          align-items: center;
        }
            .logo{               
                flex: 1 1 auto;
                box-sizing: border-box;   
            }
                .logo a img{
                    width:100%;
                }
            .nav{             
                flex: 5 1 auto;
                text-align: center;
            }
                .nav a{
                    font-size: 15px;
                    padding:0 10px;
                }
                
            .social{
                
                flex:1 1 auto;
                display:flex;
                text-align: center; 
            }
                .social a{
                    font-size: 18px;
                    color:rgb(53, 51, 51);
                }
        .texto-principal{
          
        }
                .texto-principal h1{
                    display: flex;
                    color:rgba(245, 181, 63, 0.5);
                    justify-content: center;
                }
            
    .section{
        background: darkgray;
        display: flex;
    }
        .articulos{
            background-color: darkgray;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;  /*els elements fills s'ajustaran en fila. */
        }
            .article{ /*inclou els 4 articles. Si posem el tamany adequat s'ajustaran gràcies al row wrap que hem posat al pare.*/
              background-color: white;  
              flex: 1 1 40%;
              margin: 5px;
            }
                .article h2{
                    background-color: rgb(231, 118, 140);
                    color:white;
                    text-transform: uppercase;
                }
                .article h3{
                    margin-top: -50px;
                    color:rgb(238, 238, 119); 
                }
                .article img{
                    width: 100%;
                }
            .navegacion{              
                flex: 1 1 100%; 
                text-align: center;
            }
        .aside{
            background-color: darkgray;
            flex: 1 1 auto;
        }
            .publicidad{
                text-align: center;
                justify-content: center;
            }
    .footer{
        background: black;
    }
        .pie{
            background-color: yellow;
        }
@media all and (max-width:768px){
    .section{
        flex-direction: column;
        background-color: yellow;
    }
        
}
@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
    }
}